    * {
        margin: 0;
        padding: 0;
        font-family: 'Tajawal', sans-serif;
    }
    a {
        text-decoration: none;
        color: black;
    }
    #content {
        width: 100%;
        background-color: #fff;
    }

    #header {
        width: 100%;
        height: 100px;
        margin: 0;
        font-size: 3em;
        padding-top: 40px;
        background-color: #333;
        color: white;
        padding-left: 30px;
    }
    .column{
        width: 100%;

        margin-top: 20px;
        margin-left: 20px;
/*        height: 270px;*/
        display: flex;

    }
    .effect, .description{
        margin:20px;
    }
    .effect {
        width: 250px;
        height: 250px;
        background-color: #00adac;
    }
    .description{
        height: 220px;
        float: left;
        width: 70%;
        background-color: #f8a51b;
        padding: 15px;
        border: 2px solid #333;
        border-radius: 50px 20px;
        box-shadow: 5px 5px 5px #333;

    }
    .description-content{

        width: 100%;
        height:70%;
    }
    .description-content em{
        font-size: 2.3em;
        padding-bottom: 15px;
    }

    .description-link{
        text-align: center;
        width: 100%;
        height:30%;

    }
    .description-link>a{
        border: 2px solid #333;
        padding: 10px;
        border-radius: 50px 20px;

    }
    /*--------------------------translate------------------------*/

    #translate {
        transition: transform 2s;
    }

    #translate:hover {
        transform: translate(-100px, 0px);
    }

    /*--------------------------scale------------------------*/

    #scale {
        transition: transform 2s;
    }

    #scale:hover {
        transform: scale(1, 5);
    }
    /*--------------------------Rotate------------------------*/

    #rotate {
        -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
        /* Safari */
        transition: width 2s, height 2s, transform 2s;
    }

    #rotate:hover {
        width: 500px;
        height: 500px;
        -webkit-transform: rotate(180deg);
        /* Safari */
        transform: rotate(90deg);
    }
    /*--------------------------change-color------------------------*/

    #change-color {
        transition: background-color 0.5s ease;
    }

    #change-color:hover {
        background-color: green;
    }
    /*--------------------------skew------------------------*/

    #skew {
        transition: transform 2s;
    }

    #skew:hover {
        transform: skew(90deg, 50deg);
    }
    /*--------------------------matrix------------------------*/

    #matrix {
        transition: transform 2s;
    }

    #matrix:hover {
        transform: matrix(1, -0.3, 10, 1, 0, 0);
    }